 <!DOCTYPE HTML>
<html lang='en'>

<head>
	<meta charset = "UTF=8">
	<title> TWEET RACISM ANALYSIS </title>
</head>

<body>
	<div class="login">
		<h1> TWEET RACISM ANALYSIS MODEL </h1>
		<form action="{{ url_for('predict')}}"method="post">
			<label for="tweet">Please enter your tweet here</label>
    		<input type="text" name="tweet" placeholder="TWEET_TEXT" required="required"/><br>
        </form>
  		<br>
   		
   		<button type="SUBMIT" class="btn btn-primary btn-block btn-large">predict</button>
   		<br>
   		<br>
   		<div id="prediction_text">
   		{{ prediction_text }}
   		</div>

 	</div>

</body>
</html> 
</body>
